.tasks_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.tasks_list--item {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  border-radius: var(--br-radius);
  border: 1px solid var(--br-color);
  transition: border-color 0.25s ease-in-out;
  padding: 16px;
}

.tasks_list--item:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.tasks_list--sub-info {
  font-size: 0.8em;
  align-self: flex-start;
  color: rgba(255, 255, 255, 0.6);
}

.tasks_list--item-info {
  text-align: start;
}
