.newTaskBtn {
  position: fixed;
  bottom: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: transform ease-in-out 0.25s;
  right: 8px;

  @media screen and (min-width: 1126px) {
    right: 8%;
  }

  @media screen and (min-width: 1354px) {
    right: 15%;
  }
}

.newTaskBtn svg {
  transform: scale(4);
}
