.loader {
  position: relative;
  height: 100%;
}

.loader.show.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  opacity: 0.1;
  z-index: 10;
  cursor: wait;
}

.spinner {
  width: 80px;
  height: 80px;
  padding: 0 6px;
}

.spinner.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
