:root {
  --bg-color: #242424;
  --input-bg-color: #1e1e1e;
  --text-color: rgba(255, 255, 255, 0.87);
  --br-radius: 12px;
  --btn-bg: #646cff;
  --br-color: #444;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
}



input,
select,
textarea {
  font: inherit;
  padding: 0.5em;
  border-radius: var(--br-radius);
  border: 1px solid var(--br-color);
  background-color: var(--input-bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s ease-in-out;
}

input:hover:not(:disabled),
select:hover:not(:disabled),
textarea:hover:not(:disabled) {
  border-color: white;
}

input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* reset styles for ul ol and li */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
